Brewfile.lock.json
*.swp
.vagrant/
backups/
link/goenv/shims/
link/goenv/version
link/goenv/versions/
link/goenv/cache/
link/nodenv/shims/
link/nodenv/version
link/nodenv/versions/
link/nodenv/cache/
link/pyenv/shims/
link/pyenv/version
link/pyenv/versions/
link/pyenv/cache/
link/rbenv/shims/
link/rbenv/version
link/rbenv/versions/
link/rbenv/cache/
link/vim/vimrc.local
link/vim/vimrc.bundles.local
