[submodule "z"]
	path = thirdparty/z
	url = https://github.com/rupa/z.git
[submodule "rbenv"]
	path = thirdparty/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "ruby-build"]
	path = link/rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "vundle"]
	path = link/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh-syntax-highlighting"]
	path = thirdparty/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-completions"]
	path = thirdparty/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "pyenv"]
	path = thirdparty/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "pyenv-virtualenv"]
	path = link/pyenv/plugins/pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
